.App {
  text-align: center;
}

.day {
  display: inline-block;
  width: 13%;
  border: 2px solid black;
  vertical-align: top;
}

#createEvent {
  width: 150px;
  height: 30px;
  font-size: 20px;
}

button {
  margin: 10px;
  height: 25px;
  font-size: 14px;
}